<!DOCTYPE html>
<html ng-app='toDoList'>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">

    <form ng-submit="addTasks(userTask)">
        <input type="text" ng-model="userTask" placeholder="Add New Tasks">
    </form>

    <ul ng-repeat="task in tasks track by $index">
      <!-- trying to add link functionality when adding tasks -->
      <!-- when adding tasks you want to link you have to have 'http://' on the front of the link -->
       <!-- <div ng-src='{{task}}'>{{ task }}</div> -->
       <a href="{{task}}">{{task}}</a>
       <input type="checkbox"></input>
       <button ng-click=deleteTask(task)>Delete Task</button>
    </ul>


  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js'></script>
  <script src='./js/app.js'></script>
  <script src='./js/mainCtrl.js'></script>
  <script src='./js/mainService.js'></script>
  </body>
</html>
